@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!--use Partial view-->

@* <partial name="_DepartmentDEtailsPartial" model="Model" /> *@
<partial name="_DepartmentDEtailsPartial"/>
<a href="/Department/Index">Back To List</a>
<a href="/Department/Edit/@Model.Id">Edit</a>